@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}


:global(#gr-inspector *) {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

$colors = {
  default:{
    base:#F9F9F9,
    color:#494949,
    dark:#e3e3e3,
    darker:#cccccc,
    darker2:#B6B6B6
    darkest:#9F9F9F
  },
  primary:{
    base:#5940AC,
    color:#F9F9F9,
    dark:#513B9D,
    darker:#49358D
  },
  info:{
    base:#C6EBFF,
    color:#494949,
    dark:#B4D6E8,
    daker:#A3C1D1
  },
  error:{
    color:#FE6D64
  },
  seekbar:{
    base:#7EE081,
    darker:#68B86A
  }
}