@import "../common-style/index.styl"
.notFoundContainer
    text-align center
    font-weight 600
    font-size larger

.logo
    width 20%
    max-width 150px
    opacity 0.6
    animation: spin 1.5s linear infinite;
    animation-timing-function ease-in-out
    user-select none
    user-drag none
    -webkit-user-drag none
.message
    margin -20px 0px 0px 0px
    color $col()
    user-select none
$shake-amp = 3deg

@keyframes spin {
	0% {transform: rotate(0deg);}
	40% {transform: rotate($shake-amp);}
    60% {transform: rotate(- $shake-amp);}
    100% {transform: rotate(0deg);}
}