.notFoundContainer
    text-align center
    font-weight 600
    font-size larger

.logo
    width 20%
    max-width 150px
    opacity 0.6
    animation: spin 1.5s linear infinite;
    animation-timing-function ease-in-out
.message
    margin -20px 0px 0px 0px

@keyframes spin {
	0% {transform: rotate(0deg);}
	40% {transform: rotate(1.5deg);}
    60% {transform: rotate(-1.5deg);}
    100% {transform: rotate(0deg);}
}