.container
    height 32px
    color gray
    display flex
    flex-direction column
    justify-content center
    p
        margin 0px
        padding 0px 10px
        font-size 12px
        user-select none