.treeElementLabel
    margin 1px 0px
    grid-area LABEL
.currentElementLabelContainer
    &:hover
        background-color aliceblue

.treeElementExpander
    text-align center
    grid-area EXPANDER
    margin 0px
    color gray

.treeElementLabelContainer
    display grid
    grid-template-columns 14px 1fr
    grid-template-areas "EXPANDER LABEL"
    align-items center

.hierarchyContainer
    padding 10px
.bracket
    color gray
.nodeName
    color #7744BB