@import "../common-style/index.styl"
.iconButton
    display flex
    justify-content center
    align-items center
    background-color white
    color $col()
    height 32px
    user-select none
    &.disabled
        color lightgray 
    &.selected
        color purple
    &.enabled
        color $col()
    &.enabled:hover
        background-color $col("background","light")
        cursor pointer

.iconContainer
    margin 0px 3px