@import "../common-style/index.styl"
.bracket
    color $col()

.nodeName
    color $col("color","emp")
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.inspectorHeaderContainer
    text-align center
    padding 6px 10px
    margin 0px
    font-size 24px
    border-bottom 1px dotted #F9F9F9

.componentHeaderContainer
    display grid
    grid-template-columns 25px 25px 1fr 25px
    grid-template-areas "ICON CHECKBOX NAME MENU"
    align-items center
    height 32px
    border-top 1px solid rgba(30,30,30,0.3)
    border-bottom 1px dotted rgba(30,30,30,0.1)
.componentName
    grid-area NAME
    color $col()
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    margin 0px 7px

.checkbox
    color $col()
    grid-area CHECKBOX
    text-align center
    margin 0px
    padding 3px 0px
    &:hover
        background $col("background","light")
        cursor pointer

.iconbox
    color $col("color","emp")
    text-align center
    margin 0px

.menu
    margin 0px
.searchBox
    display grid
    grid-template-columns auto 1fr
    grid-template-areas "ICON INPUT"
    margin 5px
    > p
        grid-area ICON
        margin 0px 6px
        padding 3px 0px
        color $col()
    > input 
        grid-area INPUT
        appearance none
        border none
        border-radius 0
        height 100%
        &:focus
            border none 
            border-radius 0
            outline none

